<launch>

<!--Lancando os motores de ca-->
<include file="$(find dynamixel_workbench_controllers)/launch/multi_port.launch">
</include>

<!--Aqui criando frames para localizacao no mundo e local do laser-->
<!--<node pkg="tf" type="static_transform_publisher" name="map2laser" args="0 0 0 0 0 0 map laser 100" />-->

<!-- Lancando aqui o laser em si -->
<node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
<param name="calibrate_time" type="bool" value="false"/>
<param name="port" type="string" value="/dev/ttyACM1"/>
<param name="intensity" type="bool" value="false"/>

<param name="skip" type="int" value="0"/>
<param name="min_ang" type="double" value="-0.785"/> <!--45 graus-->
<param name="max_ang" type="double" value="0.785"/>
</node>

<node name="scanner" pkg="motor" type="scanner" output="screen">
</node>

<!--visualizar a nuvem final no rviz-->
<node pkg="rviz" type="rviz" name="rviz_scanner" args="-d $(find motor)/resources/scanner.rviz">
</node>

</launch>
