<launch>

<arg name="laser_min" default="-0.785"/> <!--45 graus-->
<arg name="laser_max" default="0.785"/>
<arg name="set_pan_moving_speed" default="10"/>
<arg name="online" default="true"/>

<!-- Lancando entao aqui tudo, se estivermos online, todos os drivers de aquisicao -->
<group if="$(arg online)">

<!-- Lancando os motores de ca -->
<include file="$(find dynamixel_workbench_controllers)/launch/multi_port.launch">
    <arg name="pan_moving_speed" value="$(arg set_pan_moving_speed)"/>
</include>

<!-- Lancando aqui o laser em si -->
<node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
<param name="calibrate_time" type="bool" value="false"/>
<param name="port" type="string" value="/dev/ttyACM0"/>
<param name="intensity" type="bool" value="false"/>

<param name="skip" type="int" value="0"/>
<param name="min_ang" type="double" value="$(arg laser_min)"/>
<param name="max_ang" type="double" value="$(arg laser_max)"/>
</node>

<!-- Lancando a camera ASTRA e o no de calibracao -->
<include file="$(find astra_launch)/launch/astra.launch">
    <param name="color_depth_synchronization" value="true"/>
</include>
<node name="astra_calibrada_node" pkg="astra_calibrada" type="astra_calibrada" output="screen">
    <param name="resolucao" value="1"/>
</node>

<!-- Lancar camera ZED -->
<include file="$(find zed_wrapper)/launch/zed.launch">
</include>

</group>

</launch>
